#root {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  
  button, a {
    text-transform: capitalize !important;
  }
  
  a {
    color: #6558F4 !important;
  }

  .inputFields {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
  }
  .inputFields label {
    width: 20rem;
    text-align: left;
    text-wrap: wrap;
  }

  .inputFields div {
    width: 90%;
  }